<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="https://github.com/anuraghazra/github-readme-stats">
        <img align="center" src="https://github-readme-stats.vercel.app/api/pin/?username=ruchikamuddinagiri&repo=github-readme-stats" />
      </a>
      <a href="https://github.com/anuraghazra/convoychat">
        <img align="center" src="https://github-readme-stats.vercel.app/api/pin/?username=ruchikamuddinagiri&repo=convoychat" />
      </a>
    <img src="https://profile-counter.glitch.me/ruchikamuddinagiri/count.svg">
    <table>
        <th>Projects</th>
            <% for(const project of projects) { %><tr>
                <td><%= project.name %></td>
                <td><%= project.stars %></td>
            </tr><% } %>
    </table>
    <p>Last Run on: <%= lastRunOn %></p>
</body>
</html>