<body>
    <img align="center" src="https://github-readme-stats.vercel.app/api?username=ruchikamuddinagiri&show_icons=true&theme=radical" />
    <img src="https://profile-counter.glitch.me/ruchikamuddinagiri/count.svg">
    <table>
        <th>Projects</th>
            <% for(const project of projects) { %><tr>
                <td><%= project.name %></td>
                <td><img src="<%= project.stars %>" /></td>
            </tr><% } %>
    </table>
    <p>Last Run on: <%= lastRunOn %></p>
</body>
</html>