<center><p>Hello there!🌚 I am <%= name %>. I am a software developer, very enthusiastic about learning new things. Welcome to my Github.</p></center>
<img src="https://github-readme-stats.vercel.app/api?username=ruchikamuddinagiri&count_private=true&show_icons=true&theme=radical" />
<img src= "https://github-readme-stats.vercel.app/api/top-langs/?username=anuraghazra&layout=compact">
<img src="https://profile-counter.glitch.me/ruchikamuddinagiri/count.svg">
<table>
    <th>Projects</th>
    <th>Stars</th>
        <% for(const project of projects) { %><tr>
            <td><%= project.name %></td>
            <td><img src="<%= project.stars %>" /></td>
        </tr><% } %>
</table>
<p>Last Run on: <%= lastRunOn %></p>
